/* combobox của paging */

.cbb {
    margin: 0px 10px 0px 0px;
    height: 30px;
    border-radius: 4px;
    position: relative;
    width: 200px;
}

.combo-input .input {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    padding: 0 16px 0 16px;
    box-sizing: border-box;
    border: solid 1px #BBBB;
    cursor: default;
    background-color: transparent;
}

.combo-input .button {
    padding: 12px;
    height: 30px !important;
    width: 32px;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 6px 10px !important;
    outline: none;
}

.combo-input {
    display: flex;
    align-items: center;
}

.combo-input .button:hover {
    background-color: #e5e8ec;
    border-left: none;
}

.cbb .data {
    position: absolute;
    width: 100%;
    bottom: 110%;
    left: 0%;
    background-color: #ffff;
    z-index: 999;
    border: solid 1px #BBBB;
    /* Ẩn list */
    /* display: none; */
}

.cbb .data__item {
    list-style-type: none;
    padding: 8px 14px 8px 16px;
    cursor: pointer;
}


/* đổi màu viền input */

.combo-input .input:focus {
    /* cố ouline như dưới mới đổi được */
    outline: none !important;
    border: solid 1px #2ca01c;
}


/* .combobox__input:focus+.combobox__button+.cbb-data {
    display: block;
} */

.combo-input .button:focus {
    background-color: #e9ebee;
}


/* .combobox__button:focus+div {
    display: block;
} */

.cbb .data__item:hover {
    background-color: #e9ebee;
    color: #2ca01c;
}


/* .paging__cbb .data__item:active {
    background-color: #2ca01c;
    color: #ffff;
} */

.cbb .selected {
    /* Ngăn chặn hành động : được chọn rồi sẽ không được hành động vào nữa */
    pointer-events: none;
    background-color: #2ca01c;
    color: #ffff;
}

.cbb .focus {
    /* Ngăn chặn hành động : được chọn rồi sẽ không được hành động vào nữa */
    background-color: #e9ebee;
    color: #2ca01c;
}